.sticky-note {
    width: 170px;
    height: 90px;
    padding: 10px;
    cursor: grab;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    position: relative;
  }

  .btn-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .sticky-note:hover .btn-delete{
      opacity: 1;
    }